
aiohttp==3.8.6
APScheduler==3.10.4
async-timeout==4.0.3
attrs==23.1.0
boto3==1.34.11
botocore==1.34.11
certifi==2023.7.22
fastapi==0.103.2
httpx==0.25.0
ipython==8.12.3
notion-client==2.0.0
numpy==1.24.4
openai==0.28.1
pandas==2.0.3
plotly==5.17.0
pydantic==2.4.2
python-dateutil==2.8.2
PyYAML==5.3.1
requests==2.31.0
starlette==0.27.0
tenacity==8.2.3
uvicorn==0.23.2
python-dotenv==1.0.0